body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

.container {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
}

label, input, select, button, textarea { /* Added textarea here */
    width: 100%;
    margin-bottom: 15px;
}

input[type="checkbox"] {
    width: auto;
}

.cabin-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 15px; /* Adjust as needed */
}

.cabin-details {
    flex: 1; /* Takes up remaining space */
}

.cabin-image {
    flex: 0 0 auto; /* Prevents it from growing */
    margin-left: 20px; /* Space between text and image */
}

.cabin-image img {
    max-width: 200px; /* Adjust the size as needed */
    height: auto;
}


button {
    background-color: #5cb85c;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #4cae4c;
}
